<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
      <meta name="language" content="en" />
      <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/reset.css" />
      <!--[if lt IE 8]>
      <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection" />
      <![endif]-->
      <link rel="stylesheet" type="text/css" href="css/main.css" />
      <link rel="stylesheet" type="text/css" href="css/home.css" />
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
      <title>Trang thông tin rao vặt</title>
   </head>
   <body>
      <div id="page">
         <div id="header"></div><!-- End header-->   
      </div>
      <!-- page -->
   </body>
</html>