body,h1,h2,h3,h4,h5,ul,li{
   margin: 0;
   padding: 0;
}
ul li{
   list-style: none;
}
body{
   color: #333333;
   font-family: "Open Sans", sans-serif;
   padding: 0px ;
   margin: 0px ;
   font-size: 13px;
   direction: ltr;
   background: #eff3f8;
}
.relative{
   position: relative;
}
.absolute{
   position: absolute;
}
.hide{
   display: none !important;
}
.left{
   float:left !important;
}
.right{
   float:right !important;
}
.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}
.uppercase{
   text-transform: uppercase;
}
.bold{
   font-weight: bold;
}
.hilight{
   color:#cc0000;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
   margin: 10px 0px;
   padding:12px;
   }
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}
td.loading{
   background: url(../../images/loading.gif) no-repeat center;
}
#wraper{
   width: 100%;
   float: left;
}
#header{
   display: block;
   height: 40px;
   width: 100%;
   position: fixed;
   top:0;
   background: #ffffff;
   z-index: 998;   
}
#header .cms-name{
   padding: 10px;
   font-size: 22px;
   font-weight: bold;
   color:#44b6ae;
}
#menu{
   z-index: 9;
   background: #444d58;
   transition: all .3s ease ;
   position: fixed;
   top: 40px;
   left: 0;
   right:0;
}
.breadcrumbs{
   margin: 100px 0 0 10px;
}
.main-content{
   transition: all .3s ease ;
   padding: 10px;
   overflow-y:auto;
   overflow-x: hidden;
   background: #eff3f8;
   margin: 10px 0 0 0;
}
.breadLine{
   height: 23px;
   border-bottom: 1px solid #CCC;
   background: url("../images/nav.jpg") left top repeat-x;
   border-bottom: 1px solid #CCC;
}
.requie{
   padding:10px;
   font-size: 14px;
}
.arrow{
   position: absolute;
   left: 110px;
   top: -12px;
   background: url("../images/menu-arrow-top.png") left top repeat;
   width: 17px;
   height: 12px;
   display: none;
}
.adminControl{
   padding: 1px 10px 0px;
   float: left;
   font-size: 11px;
   color: #333;
  background: url("../images/arrow_down.png") right center no-repeat;
   width: 194px;
   cursor: pointer;
   -moz-text-shadow: 0 1px 0 #FFFFFF;
   -webkit-text-shadow: 0 1px 0 #FFFFFF;
   text-shadow: 0 1px 0 #FFFFFF;
}
.admin{
   float: left;
   position: relative;
   padding: 5px;
   width: 209px;
   -moz-box-shadow: inset 0 0 5px #CCC;
   -webkit-box-shadow: inset 0 0 5px #CCC;
   box-shadow: inset 0 0 5px #CCC;
   display: block;
}
.admin .image {
   float: left;
   width: 62px;
   margin-right: 5px;
}
.img-polaroid{
   padding: 4px;
   background-color: #fff;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.admin ul.control, .headInfo ul.control {
   display: block;
   float: left;
   width: 142px;
   list-style: none;
   margin: 0px;
}
.admin ul.control li .caption.red {
   background-color: #a5302c;
}
.admin ul.control li .caption {
   display: block;
   float: right;
   font-size: 10px;
   background-color: #333;
   color: #fff;
   padding: 2px 4px 2px 3px;
   line-height: 13px;
   margin: 3px 0px 3px 5px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   text-decoration: none;
   text-shadow: none;
}
.admin ul.control li a, .headInfo ul.control li a {
   font-size: 11px;
   color: #333;
   -moz-text-shadow: 0 1px 0 #FFFFFF;
   -webkit-text-shadow: 0 1px 0 #FFFFFF;
   text-shadow: 0 1px 0 #FFFFFF;
}
.admin .info {
   float: left;
   padding: 5px;
   font-size: 10px;
   color: #666;
   line-height: 14px;
   -moz-text-shadow: 0 1px 0 #FFFFFF;
   -webkit-text-shadow: 0 1px 0 #FFFFFF;
   text-shadow: 0 1px 0 #FFFFFF;
}
.admin .info {
   font-size: 10px;
   color: #666;
   line-height: 14px;
   text-shadow: 0 1px 0 #FFFFFF;
}
.navigation {
   list-style: none;
   position: relative;
   padding: 0px;
   margin: 0px;
   float: left;   
}
.navigation li {
   padding: 0px;
   margin: 0px;
   display: block;
   float: left;
   position: relative;
   font-size: 14px;
}
.navigation > li i{
   margin: 9px 0 0 6px;
   border-top-color: #bcc2cb;
   border-bottom-color: #bcc2cb;
}
.navigation > li:first-child{
   border-left: none;
}
.navigation > li:hover ul{
   
}
.navigation li > a {
   text-decoration: none;
   padding: 0px;
   display: block;
   float: left;   
   position: relative;
   padding: 15px 20px;
}
.navigation li > a:hover{
   background: #5d6b7a;
}
.isw-grid {
   background: url('../images/ws/ic_grid.png') center center no-repeat transparent;
}
[class*="isw-"], [class*="isb-"] {
   margin-left: 10px;
   padding: 11px 0px;
   width: 16px;
   height: 16px;
   font-size: 14px;
   font-weight: normal;
   display: block;
   float: left;
}
.navigation li > a span.text, .navigation li > a em.text {
   display: block;
   float: left;
   overflow: hidden;
   color:#bcc2cb;
}
.navigation li:hover, .navigation li.active {
   
}
.navigation li.openable.active {
   
}
.navigation li.openable ul{
   top:100%;
   position: absolute;
   left: 0;
}
.navigation li.openable:hover ul{
   display: block;
}
.navigation li.openable {

}
.navigation li.openable > ul {
   padding: 0px;
   margin: 0px;
   float: left;
   display: none;
   box-shadow: 5px 5px rgba(85, 97, 111, 0.2);
   background: #55616f;
   border-radius: 0 0 5px 5px;
   overflow: hidden;
}
.navigation li > ul > li {
   display: block;
   float: left;
}
.navigation li > ul > li:hover{
   
}
.navigation li > ul > li > a {
   display: block;
   float: left;
   padding: 3px 0 3px 10px;
   width: 180px;
   color:#ced5de;
}
.navigation li > ul > li > a [class*="icon-"] {
   margin: 9px 0px 7px 10px;
   display: block;
   float: left;
}
.navigation li > ul > li > a span.text, .navigation li > ul > li > a em.text {
   color: #ced5de;
   padding: 6px 0px;
}
.navigation li > ul > li:hover, .navigation li > ul > li.active {
   cursor: pointer;
}
.icon-chevron-right {
   background-position: -456px -72px;
}
.navigation li.active > ul {
   display: block !important;
}
#content{
   position: relative;
}
#content h1,.block-fluid h1{
   color: #44b6ae;
   border-bottom: 1px solid #eee;
   text-transform: uppercase;
   font-size: 15px;
}
.breadLine .breadcrumb {
   float: left;
}
.breadcrumb {
   padding: 2px 15px !important;
   margin: 0px 10px!important;
   list-style: none !important;
   -webkit-border-radius: 4px !important;
   -moz-border-radius: 4px !important;
   border-radius: 4px !important;
   background-color: transparent !important;
}
.breadcrumb li {
   display: inline-block;
   text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb,.breadcrumb li a,.breadcrumb li{
   font-size: 11px;
}
.breadcrumb .divider {
   padding: 0 5px;
   color: #ccc;
}
.breadcrumb .active {
   color: #999999;
}
#content .workplace {
   position: relative;
   padding: 20px;
}
.head {
   background:#ffffff;
   background-clip: padding-box;
   -moz-border-top-left-radius: 3px;
   -moz-border-top-right-radius: 3px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   -o-border-top-left-radius: 3px;
   -o-border-top-right-radius: 3px;
   -ms-border-top-left-radius: 3px;
   -ms-border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
.head h1{
   font-size: 15px;
   color: #44b6ae;
   line-height: 22px;
   padding: 8px 0px;
   margin: 0px;
   font-weight: bold;
   margin-left: 10px;
   display: block;
   float: left;
   text-transform: uppercase;
}
.clear {
   clear: left;
}
.table-sorting .dataTables_wrapper {
   float: left;
   width: 100%;
}
.table-sorting {
   padding: 0px;
   position: relative;
   font-size: 12px !important;
   background-color: #FFF;
   border: 1px solid #ccc;
   border-top: 0px;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}
.mult_submit{
   margin-right: 10px;
   width: 448px;
   border-right: 1px solid #dcdcdc;
}
.showing{
   font-weight: bold;
   color:#F1021E;
}
.image-list{
   max-width: 150px;
}
.font10{
   font-size: 10px;
}
.font11{
   font-size: 11px;
}
.font12{
   font-size: 12px;
}
.font13{
   font-size: 13px;
}
.font14{
   font-size: 14px;
}
.head-table{
   width:100%;
   overflow: hidden;
}
.head-tabel .search{
   border-bottom: 1px solid #ccc;
}
.head-tabel ul.title-table  li{
   display: inline-block;
   margin-right: 10px;
}
.title-table li{
   display: inline-block;
   border-right: 2px solid #dcdcdc;
   padding: 0 10px 0 10px;
}
.table-sorting .dataTables_filter {
   font-size: 11px;
   color: #333;
   line-height: 16px;
   padding: 5px;
}
.list-field-search form{
   margin: 0;
}
.list-field-search form > li{
   display: inline-block;
   list-style: none;
   margin-right: 10px;
}
.list-field-search form > li #alb_id{
   margin: 0;
}
.table-sorting .dataTables_filter form{
   width: 48%;
   text-align: center;
   padding:5px 10px;
   border-right:1px solid #ccc;
   margin: 0;
}
.table-sorting .dataTables_filter form:last-child{
   border:none;
}
.tSortable_filter > form{
   
}
.table-sorting .dataTables_filter input[type="text"] {
   font-size: 11px;
   padding: 3px 2px 3px 5px;
   color: #333;
   line-height: 14px;
   margin: 0px;
   width: 150px;
   height: 27px;
}
.search .datepicker{
   width:100px !important;
}
.seach #vid_name{
   width:200px !important;
}
.dataTables_filter label{
   font-size: 12px;
   width: 60px;
   margin-top: 4px;
}
[class*="block"] .table tr th {
   padding: 4px 8px;
   font-size: 11px;
   background-color: #F1F1F1;
   color: #666;
}
.dataTable{
   border-left: none !important;
   border-right: none !important;
   border-radius: 0px 0px 0px 0px !important;
}
.block-fluid{
   background: #fff;
   color: #a7b3b9;
   padding: 10px;
   border-radius: 10px;
}
.paging{
   margin: 5px 10px;
}
.paging ul li{
   display: inline-block;
   list-style-image: none;   
   text-align: center;
}
.paging ul li a,.paging ul li span{
   padding: 2px 5px;
   border: solid 1px #C9C9C9;
   background: #FFF;
}
.paging ul li span{
   background: #135F94;
   color: #FFF;
   border: solid 1px #135F94;
}
.row-form,.control-group{
   border-bottom: 1px solid #DDD;
   border-top: 1px solid white;
   padding: 6px 16px;
   vertical-align: baseline;
}
.control-group:first-child{
   border-top: 0px;
}
.form-horizontal .control-group {
   margin-bottom: 0px !important;
}
.control-group {
   margin-bottom: 0px !important;
}
.form-actions{
   border-top: 1px solid white;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}
.form .row input[type="text"],
.form .row input[type="password"],
.form .row textarea{
   width: 100%;
   box-sizing: border-box;
   max-width: 700px;
}
.nav > li > a:hover, .nav > li > a:focus {
   text-decoration: none;
   background-color: transparent !important;
   color: #fff !important;
}
.show-hide-menu{
   width: 150px;
   height: 20px;
   position: absolute;
   z-index: 1000;
   top: 10px;
   left: 10px;
   font-size: 13px;
   cursor: pointer;
   color: #fff;
}
table tr th {
   text-align: center;
   background: #DFDFDF;
}
.pagination{
   text-align: right;
}
#grid table {
   border: 1px solid #C4C4C4;
   border-bottom: none;
   border-right: none;
   width: 100%;
}
#grid table tr th,
#grid table tr td {
   border-right: 1px solid #C4C4C4;
   border-bottom: 1px solid #C4C4C4;
   padding:0 5px;
}
#grid table tr td.select-row{
   text-align: center;
}
#grid select{
   height: 25px;
   margin: 5px 0 0 0;
   padding:0;
}
#grid #page_input{
   height: 16px;
   margin: 5px 0;
   width: 60px;
}
#grid #limit{
   width: 60px;
   margin: 5px 0;   
}
#grid table tr td.role {
   text-align: center;
}
#grid table tr td.accept {
   color: #00A442;
}
#grid table tr td.denied {
   color: #EE0521;
}
#option_form{
   margin: 10px 0;
}
#option_form table td{
   padding:0 5px;
}
.list-actions{
   overflow: hidden;
   background: rgba(0,0,0,.1);
   left: 10px;
   right: 10px;
   top:80px;
   border-radius: 5px 5px 0 0;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.51);
   text-align: right;
}
.list-actions > .left{
   line-height: 38px;
}
.list-actions .title{
   font-weight: bold;
   margin: 0 10px;
   color:#ffffff;
}
.list-actions .action-item{
   display: inline-block;
   padding: 4px 5px;
   cursor: pointer;
   text-align: center;
   font-weight: bold;
   border-radius: 4px;
}
.list-actions .action-item a{
   display: block;
   height: 100%;
}
.list-menu{
   border-top:1px solid #CCC;
}
.list-menu .menu-item{
   float: left;
   width: 24.5%;
   height: 65px;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   vertical-align: middle;
   line-height: 60px;
   font-size: 20px;
   text-transform: uppercase;  
}
.list-menu .menu-item:first-child,
.list-menu .menu-item:nth-of-type(4n+1){
   border-left:1px solid #ccc;
}
.list-menu .menu-item a:hover{
   color:#E60153;
   text-decoration: none;
   text-shadow: 1px 1px 1px #F2F2F2, 0 0 0 #000, 1px 1px 1px #F2F2F2;
}
#role-create label,
#role-edit label{
   display: inline-block;
   margin: 0 10px 0 0;
}
.form-horizontal .controls.inline{
   float:left;
   margin-left: 20px;
}
.currency{
   color: #fff;
}
#fomat_currency{
   top:9px;
   left:101%;
}
.more-info ul li{
   float: left;
   margin:  0 10px 0 0;
}
.radio-group input[type="radio"]{
   float:left;
   margin-right: 5px;
   margin-left: 15px;
}
.radio-group label{
   float:left;
}
.player-container{
   position: fixed;
   left: 50%;
   margin-left: -320px;
   top: 100px;
   z-index: 11;
}
.grid-view {
}
.search-button,
.add-button{
   padding: 4px 8px;
   text-decoration: none;
   border: none;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background: #e0e0e0;
   text-shadow: none;
   font-weight: 600;
   font-size: 13px;
   text-decoration: none;
   margin: 5px 0 0 0;
   display: inline-block;
}
.add-button{
   background: #56d290;
   color:#ffffff;
   margin-left: 8px;
}
#sidebar{
   background: rgba(0,0,0,.8);
   -webkit-box-shadow: -1px 2px 2px -1px rgba(0,0,0,.1);
   box-shadow: -1px 2px 2px -1px rgba(0,0,0,.1);
   color: #777;
   border-radius: 3px 0 0 3px;
   transition: all .3s ease-out .15s;
   -webkit-transition: all .3s ease-out .15s;
   width: 200px;
   position: fixed;
   right: -180px;
   top: 40%;
   z-index: 10;
}
#sidebar .wapper{
   position: relative;
   padding: 10px 10px 10px 30px;
   font-size: 14px;
}
#sidebar .operations li a{
   color:#aaafb7;
   font-size: 13px;
   padding: 5px 0;
}
#sidebar .operations li a:hover{
   text-decoration: none;
   color:#CBCED2;
}
#sidebar .portlet-decoration{
   text-align: center;
   font-weight: bold;
}
#sidebar .ic-arr{
   width: 13px;
   height: 25px;
   background: url(../images/icon-arr.png) no-repeat;
   top: 50%;
   margin-top: -12.5px;
   left: 3px;
   position: absolute;
}
#sidebar:hover{
   right:0;
}
.form input[type="submit"]{
   color: #555;
   background: #44b6ae;
   border:none;
   border-radius: 3px;
   color: #fff;
   vertical-align: top;
   border-width: 0;
   padding: 5px 14px;
   font-size: 14px;
}
body .overlay{
   position: fixed;
   top:0;
   right:0;
   bottom:0;
   left: 0;
   background: rgba(0,0,0,0.4);
   z-index: 10;
}
.grid-view span.check-hot{
   width: 25px;
   height: 25px;
   background: url(../images/check_alt.png) no-repeat;
   background-size: 100%;
   display: inline-block;
   cursor: pointer;
}
.grid-view span.check-hot.checked{
   background-position: 0 -25px;
}
.grid-view .filters input{
   height: 20px;
}
.grid-view .filters input, .grid-view .filters select{
   width: 75% !important;
   display: block;
   margin: 0 auto;
}
.grid-view table.items th, .grid-view table.items td,
table.detail-view th, table.detail-view td{
   color:#333333;
}